/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.clearfix {
  content: ".";
  display: block;
  clear:both;
  
}

.deals {
  display:block;
  clear:both;
  width: 100%;
  margin-bottom:4%;
  margin-top:2%;
  background-color: black;
}

.fig-1 {
  position: relative;
  left:0;
  box-sizing: border-box;
  display: inline-block;
  width: 32%; 
  float:left;
  margin-right: 2%
}

.fig-2 {
  position:relative;
  box-sizing: border-box;
  display: inline-block;
  width: 32%; 
  margin: 0 auto;
}

.fig-3 {
  box-sizing: border-box;
  display: inline-block;
  width: 32%;
  float:right;
}

.left-col {
  margin-right: 1.333%;
  display: inline-block;
  width: 32%; 
}

.main {
  height:101.5%;
  display: inline-block;
  width:66%;
  margin-top:0;
  margin-right:2%;
}

.main.shadow {
  height:100%;
}

.mid-col {
  display: inline-block;
  width: 32%;
}

.right-col {
  position:relative;
  top: 0;
  display: inline-block;
  width: 32%; 
  background-color: white;
}

.sale {
  margin-bottom: 5pt;
}

.second {
  dispay: block;
  margin-bottom: 2%;
  width: 100%;
  background-color:black;
  height: 100%;
}

.side-bar {
  position:relative;
  right:0;
  display: inline-block;
  width:32%;
  float:right;
}

